body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}

h1 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

td {
    padding: 10px;
    text-align: center;
    color: #555;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}  

tr:hover {
    background-color: #d1ecf1;
}

.green{
    background-color: green;
    color: white;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
    color: white;
}