td {
  padding-left: 150px;
}
p{
    opacity: 0.5;
}
h2{
    border-bottom: 3px solid red;
    margin-right: 160px;
    padding-bottom: 10px;
    margin-left: 30px;
    width: 140px;

}
.box1{
    width: 80px;
height: 80px;
 border-radius: 5px;
 border: 1px solid rgb(118, 116, 116);
 opacity: 0.5;
 transform: rotate(45deg);
position: absolute;
top:50px;
right: 291px;
}
.fa-regular{
   font-size: 100px;
   font-weight: 200;
   border: 1px;
}
table{
    position: relative;
}
.box2{
    width: 80px;
height: 80px;
 border-radius: 5px;
 border: 1px solid rgb(118, 116, 116);
 opacity: 0.5;
 transform: rotate(45deg);
position: absolute;
top:204px;
right: 711px;

}
.box3{
    width: 80px;
height: 80px;
 border-radius: 5px;
 border: 1px solid rgb(118, 116, 116);
 opacity: 0.5;
 transform: rotate(45deg);
position: absolute;
top:204px;
right: 292px;

}
.box4{
    width: 80px;
height: 80px;
 border-radius: 5px;
 border: 1px solid rgb(118, 116, 116);
 opacity: 0.5;
 transform: rotate(45deg);
position: absolute;
top:50px;
right: 710px;

}
.fa-solid{
    font-size: 35px;
    transform: rotate(-45deg);
    color: rgb(255, 0, 0);
    position: absolute ;
    top:24px;
    right: 24px;

}

